*{
    margin: 0;
    padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:900px) {
    header{
       padding-bottom: 2rem;
    }
    p{
        font-size:6vw ; 
    }
}

header{
    background-color:#f77b1b;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
#logo{
width: 5%;
border-radius: 50%;
position: relative;
margin-left: 10%;
}

p{
    font-size:3vw ; 
    color: #fff;
}

.nav{
    background-color: #cb9859;
    overflow: hidden;
    width: 100%;
}
.nav a {
    float:right;
    color:#fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover{
    background-color: #fff;
    color: #000;
}
.nav :active{
    background-color: #FFE5B4;
    color: #fff;
}
.food{
width: 60%;
height: 50vh;
margin: auto;
padding-top: 50px;
margin-top: 1%;
background-color:#e5e9e6;

}
#allinputs, #my_list{
    width: 50%;
}
.mainform{
    padding: 10px;
    margin: auto;
}
button{
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #cb9859; 
    border: none;
    color: white;
    text-align: center;
}

.wrap {
    display: grid;
    grid-template-columns: 20% 15% 20% 20% 25%;
    position: absolute;
    margin-left:5%;
    margin-right: 5%;
}
.wrap div{
    padding: 2rem;
}
.footer{
    height:30vh ;
    background-color:#f77b1b;
}
div p{
    color: white;
    font-size: 14px;
}
.keep > p{
    margin-left: 40%;
}
.foot{
    height: 20vh;
    border-top: 1px solid rgb(151, 148, 148);
    background-color: #000;
}
.footimg{
    width: 20%;
}
#ftext{
display: inline;
}

.foot > p{
    text-align: center;
    padding-top: 2%;
}

#font{
    border:1px solid rgb(0, 0, 0);
    padding: .5rem;
    margin:0 0 5% 20%;
    border-radius: 100%;
}
.foodbox{
    background-color:#e5e9e6;
    padding: 30px 0px;
}
.foodbox h1{
    font-weight:900;
    font-size:34px;
    padding-bottom: 5px ;
}
.title{
    text-align: center;
    padding: 25px 0px;
}
.title p{
    font-size: 18px;
}
.card-body{
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card{
  margin: 20px 10px;   
}


/* *****2nd page*** */
.menu{
width: 50%;
height: 30vh;
padding-top: 50px;
margin-top: 2%;
background-color: #ce825f;
margin-left: 10%;
margin-bottom:20% ;
}
.menuform{
padding: 30px;
}
#name {
width: 60%;
}
.selectedFood{
width: 20%;
height: 30vh;
float: right;
margin-top: 2%;
background-color: #FFE5B4;
}

.selectedFood img{ 
    width:30% ;
    border-radius:5% ;
}
.Cancel-Order{
    margin-left:5% ;
}